<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Галерея</title>
    <style>
        .gallery {
            display: flex;
            flex-wrap: wrap;
        }
        .gallery img {
            width: 200px;
            margin: 10px;
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <h1>Галерея изображений</h1>
    <div class="gallery">
        {% for img in images %}
            <img src="{{ img }}" alt="image">
        {% endfor %}
    </div>
</body>
</html>