<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сервер картинок</title>
    <link rel="stylesheet" href="templates/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>

    <div class="container">
        <h1>Upload Photos</h1>
        <p class="subtitle">Upload selfies, memes, or any fun pictures here.</p>

        <a href="/upload" class="main-button">TAIL-ENT SHOWCASE</a>

        <div class="cat-image-container">
             <img src="templates/page_pics/cat-image.png" alt="Кот в воротнике" class="cat-image">
        </div>

    </div>

</body>
</html>